<!-- <div class="ui long modal" #notificationModalTag> -->
<br>
<div class="header">
    <h2><span style="padding: 30px; color:white">{{modalHeader}}</span></h2>
</div>


<!--todo this should be two tables, one for the top filters and another for the component specific filters -->
<table class="ui inverted selectable celled table">
    <tbody>
    <tr *ngFor="let item of notificationFilters; let idx = index"
        (click)="setSelectedNotificationFilter(item)">
        <td [ngClass]="{'selected': item.name == currentNotificationFilter.name, 'components': idx==1}">
            <div style="float:left;text-align:left">{{item.name}}</div>
            <div style="float:right;text-align: right">{{item.count}}</div>
        </td>
    </tr>
    </tbody>
</table>

<div>

    <div *ngIf="currentNotificationFilter">

        <app-notification-detail></app-notification-detail>
    </div>

</div>



