<div (mouseover)="showGadgetControls(true)"
     (mouseleave)="showGadgetControls(false)" class="ui center aligned segment gadget" dnd-draggable
     [dragEnabled]="true" [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']"
     style="background-color: #f7f7f7">

    <app-gadget-header
            [title]="title"
            [inRun]="inRun"
            [inConfig]="inConfig"
            [actionInitiated]="actionInitiated"
            [showOperationControls]="showOperationControls"
            [gadgetHasOperationControls]="gadgetHasOperationControls"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            (toggleConfigModeEvent)="toggleConfigMode()"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()">
    </app-gadget-header>

    <div *ngIf="!inConfig" class="storage">
        <app-data-list

                [objectTitleList]="objectTitleList"
                [objectList]="objectList"
                [facetTags]="facetTags"
                [placeHolderText]="placeHolderText"
                [layoutColumnOneWidth]="layoutColumnOneWidth"
                [layoutColumnTwoWidth]="layoutColumnTwoWidth">

            <ng-template let-item="$implicit">

                <div [@showHideAnimation] class="ui padded segment" style="background-color:white;">
                    <div class="ui large middle aligned divided list">
                        <div class="item">

                            <div class="right floated content">
                                <a *ngIf="item.actions.length == 1"

                                   routerLink="."
                                   (click)="actionHandler(item, item.actions[0].name)">
                                    <span style="color:darkgrey; font-size:2em">...</span>
                                </a>

                            </div>

                            <div class="ui stackable centered grid">
                                <div class="three wide column">
                                    <div class="chartLabel">Volume</div>
                                    <img class="ui centered image" src="{{item.icon}}">
                                    {{item.volumeId}}
                                </div>
                                <div class="three wide column">

                                    <div class="row">
                                        <div class="ui green indicating progress" data-value="25" data-total="200">
                                            <div class="bar">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="chartLabel">Used Storage</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="ui green indicating progress" data-value="25" data-total="200">
                                            <div class="bar">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="chartLabel">Used Storage</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="ui grey mini statistic">

                                        <div class="value">
                                            <i class="blue server icon"></i><br>{{item.vmCount}}
                                        </div>
                                        <div class="grey label">
                                            <span style="color:grey">VMs</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="ui grey mini statistic">

                                        <div class="value">
                                            <i class="purple camera outline icon"></i><br>{{item.snapshotCount}}
                                        </div>
                                        <div class="label">
                                            <span style="color:grey">Snapshots</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="ui grey mini statistic">

                                        <div class="value">
                                            <i class="orange file outline icon"></i><br>{{item.fileCount}}
                                        </div>
                                        <div class="label">
                                            <span style="color:grey">Files</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached">
                        <button *ngFor="let tag of item.tags" class="ui basic gray compact button">{{tag.name}}
                        </button>
                    </div>
                </div>

            </ng-template>

        </app-data-list>


    </div>

    <app-dynamic-form *ngIf="inConfig"
                      [propertyPages]="propertyPages"
                      [instanceId]="instanceId"
                      (updatePropertiesEvent)="updateProperties($event)">
    </app-dynamic-form>

    <app-error-handler
            [errorObject]="errorObject"
            [errorExists]="errorExists">
    </app-error-handler>

</div>

