<div (mouseover)="showGadgetControls(true)"
     (mouseleave)="showGadgetControls(false)" class="ui center aligned segment gadget" dnd-draggable
     [dragEnabled]="true" [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']"
     style="background-color: #f7f7f7">

    <app-gadget-header
            [title]="title"
            [inRun]="inRun"
            [inConfig]="inConfig"
            [actionInitiated]="actionInitiated"
            [showOperationControls]="showOperationControls"
            [gadgetHasOperationControls]="gadgetHasOperationControls"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            (toggleConfigModeEvent)="toggleConfigMode()"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()">
    </app-gadget-header>

    <div *ngIf="!inConfig" class="storage">
        <app-data-list

                [objectTitleList]="objectTitleList"
                [objectList]="objectList"
                [placeHolderText]="placeHolderText"
                [layoutColumnOneWidth]="layoutColumnOneWidth"
                [layoutColumnTwoWidth]="layoutColumnTwoWidth"
                [customTemplate]="customTemplate"

        ></app-data-list>


        <ng-template #customTemplate>
            {{item.name}}
        </ng-template>


    </div>

    <app-dynamic-form *ngIf="inConfig"
                      [propertyPages]="propertyPages"
                      [instanceId]="instanceId"
                      (updatePropertiesEvent)="updateProperties($event)">
    </app-dynamic-form>

    <app-error-handler
            [errorObject]="errorObject"
            [errorExists]="errorExists">
    </app-error-handler>

</div>

