<div  class="ui center aligned segment gadget" dnd-draggable
     [dragEnabled]="true" [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']"
     style="background-color: #f7f7f7">

    <a class="ui left corner label">
        <i class="heart icon" [ngClass]="{'green':inRun, 'yellow':!inRun}"></i>
    </a>
    <app-gadget-header (mouseover)="showGadgetControls(true)"
                       (mouseleave)="showGadgetControls(false)"
            [title]="title"
            [inRun]="inRun"
            [inConfig]="inConfig"
            [actionInitiated]="actionInitiated"
            [showOperationControls]="showOperationControls"
            [gadgetHasOperationControls]="gadgetHasOperationControls"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            (toggleConfigModeEvent)="toggleConfigMode()"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()">
    </app-gadget-header>

    <div *ngIf="!inConfig" class="storage">
        <app-data-list

                [objectTitleList]="objectTitleList"
                [objectList]="objectList"
                [facetTags]="facetTags"
                [placeHolderText]="placeHolderText"
                [layoutColumnOneWidth]="layoutColumnOneWidth"
                [layoutColumnTwoWidth]="layoutColumnTwoWidth">

            <ng-template let-item="$implicit">

                <div [@showHideAnimation] class="ui padded segment" style="background-color:white;">
                    <div class="ui large middle aligned divided list">
                        <div class="item">
                            <div class="right floated content">
                                <a *ngIf="item.actions.length == 1"

                                   routerLink="."
                                   (click)="actionHandler(item, item.actions[0].name)">
                                    <span style="color:darkgrey; font-size:2em">...</span>
                                </a>

                            </div>
                            <div class="left floated content">
                                <div class="ui stackable centered grid">
                                    <div class="column">
                                        <div class="row">
                                            <div class="chartLabel">VOLUME</div>
                                            <img class="ui centered image" src="{{item.icon}}">
                                            {{item.volumeId}}
                                        </div>
                                        <div class="row">
                                            <br>
                                            <button *ngFor="let tag of item.tags" class="ui basic gray compact button">
                                                {{tag.name}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui stackable sixteen wide grid">
                                <div class="row">
                                    <div class="one wide column"></div>
                                    <div class="seven wide column">
                                        <div class="ui green indicating progress" data-value="25" data-total="200">
                                            <div class="bar">
                                                <div class="progress"></div>
                                            </div>
                                            <div class="chartLabel">Used Storage</div>
                                        </div>
                                    </div>
                                    <div class="seven wide column">
                                        <div class="row">
                                            <div class="ui grey mini statistic">

                                                <div class="value">
                                                    <i class="purple camera outline icon"></i>&nbsp;&nbsp;&nbsp;{{item.snapshotCount}}
                                                </div>
                                                <div class="label">
                                                    <span style="color:grey">Snapshots</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="one wide column"></div>
                                    <div class="seven wide column">
                                        <div class="ui grey mini statistic">

                                            <div class="value">
                                                <i class="blue server icon"></i>&nbsp;&nbsp;&nbsp;{{item.vmCount}}
                                            </div>
                                            <div class="label">
                                                <span style="color:grey">Virtual Machines</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="seven wide column">
                                        <div class="ui grey mini statistic">

                                            <div class="value">
                                                <i class="orange file outline icon"></i>&nbsp;&nbsp;&nbsp;{{item.fileCount}}
                                            </div>
                                            <div class="label">
                                                <span style="color:grey">Files</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </ng-template>

        </app-data-list>

    </div>

    <app-dynamic-form *ngIf="inConfig"
                      [propertyPages]="propertyPages"
                      [instanceId]="instanceId"
                      (updatePropertiesEvent)="updateProperties($event)">
    </app-dynamic-form>

    <app-error-handler
            [errorObject]="errorObject"
            [errorExists]="errorExists">
    </app-error-handler>

</div>

