.content {
    background-color:#f7f7f7;
    margin-top: 25px;
    margin-left: 25px;
    padding:5px;
}

hr {
    height: 2px !important;
    color: rgba(110, 110, 110, 0.1) !important;;
    background: rgba(110, 110, 110, 0.1) !important;;
    font-size: 0;
    border: 0;

}
.list-content{
    max-height: 700px;
    overflow-y: scroll;
    margin-top: 20px;
    padding-right: 10px
}
