<div class="ui center aligned  segment gadget" dnd-draggable
     [dragEnabled]="true" [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']">

    <a class="ui left corner label">
        <i class="heart icon" [ngClass]="{'green':inRun, 'yellow':!inRun}"></i>
    </a>
    <app-gadget-header
            (mouseover)="showGadgetControls(true)"
            (mouseleave)="showGadgetControls(false)"
            [globalOptions]="globalOptions"
            [title]="title"
            [inRun]="inRun"
            [inConfig]="inConfig"
            [actionInitiated]="actionInitiated"
            [showOperationControls]="showOperationControls"
            [gadgetHasOperationControls]="gadgetHasOperationControls"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            (toggleConfigModeEvent)="toggleConfigMode()"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()"
            (helpEvent)="helpModal.showHelp()">
    </app-gadget-header>

    <div class="ui grid">
        <div class="row">
            <!--<div>{{avail}} {{used}}</div> -->
            <div *ngIf="!inConfig" style="min-height: 270px">

                <ngx-charts-pie-chart *ngIf="!inConfig"
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="data"
                        [legend]="true"
                        [explodeSlices]="false"
                        [labels]="false"
                        [doughnut]="true"
                        [gradient]="false"
                        [legendTitle]="legendTitle"
                        [arcWidth]=".5"
                        (select)="drillDownPopUp.showDrillDownDetail($event)">
                </ngx-charts-pie-chart>

            </div>
        </div>
    </div>

    <app-dynamic-form *ngIf="inConfig"
                  [gadgetTags]="gadgetTags"
                  [propertyPages]="propertyPages"
                  [instanceId]="instanceId"
                  (updatePropertiesEvent)="updateProperties($event)">
    </app-dynamic-form>

    <app-error-handler
            [errorObject]="errorObject"
            [errorExists]="errorExists">
    </app-error-handler>

    <app-drill-down-modal #drillDownPopUp></app-drill-down-modal>

    <app-help-modal #helpModal [topic]="topic"></app-help-modal>

    <br>
    <div style="display: block !important;"  [@accordion]="detailMenuOpen">
       <h2>Detail Content</h2>
    </div>


    <div *ngIf="!inConfig" class="ui bottom right attached label" style="background-color: white"><i
            class="large chevron icon" (click)="toggleAccordion()" [ngClass]="{'up':detailMenuOpen == 'in', 'down': detailMenuOpen=='out'}"
            style="color:lightgrey"></i></div>


    <div class="ui bottom attached" *ngIf="actionInitiated" style="width:33%">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

