.ui.avatar.image {
    width: 4.4em !important;
    height: 4em !important
}

hr {
    height: 2px !important;
    color: rgba(110, 110, 110, 0.1) !important;;
    background: rgba(110, 110, 110, 0.1) !important;;
    font-size: 0;
    border: 0;

}

.ui.input input:focus, .ui.input.focus input {
    border-color: #e9e9e9 !important;;
}

h3, h4 {
    color: rgba(66, 66, 66, .74) !important;
    font-weight: 400 !important;
}

.ui.basic.segment {
    border-radius: 5px !important;
}

.segment {
    border-radius: 5px !important;
}

.ui.table tr td {
    border-top: none !important;
}

.ui.table td {
    padding: .3em !important;
}

