.wrapper{
    position:absolute;
    top:50px;
    right: 10px;
    width: 400px;
}
.ui.message{
    border-radius: 0px;
    background-color: white;
}
.toast{
    width:inherit;
}

.toast-icon{

    background-color: #384b5f;
    text-align: center;

}