.wrapper{
    position:absolute;
    top:50px;
    right: 10px;
    width: 400px;
}
.ui.positive.message{
    border-radius: 0px;
}
.toast{
    width:inherit;
}

.toast-icon{

    background-color:forestgreen;
    text-align: center;

}