<div class="wrapper">
    <div class="toast" *ngFor="let message of messages">
        <table [@showHide] *ngIf="message.dismissed == false">
            <tr>
                <td class="toast-icon" width='50px'><i
                        class="large inverted check icon"></i></td>
                <td>
                    <div class="ui message">
                        <i class="close icon" (click)="dismiss(message.id)"></i>
                        <p>{{message.content}}</p>
                    </div>
                </td>
            </tr>
        </table>
        <br>
    </div>
</div>