
.layout-selected {
    border-top: medium lawngreen solid;
    padding-top:5px;
}
ul{
    text-align: center;
}
h2{
    color:white !important;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 5px;
}