<div class="ui left aligned segment gadget" dnd-draggable [dragEnabled]="true"
     [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']">


    <app-gadget-header (mouseover)="showGadgetControls(true)"
                       (mouseleave)="showGadgetControls(false)"
                       [title]="title"
                       [inRun]="inRun"
                       [inConfig]="inConfig"
                       [actionInitiated]="actionInitiated"
                       [showOperationControls]="showOperationControls"
                       [gadgetHasOperationControls]="gadgetHasOperationControls"
                       [showConfigurationControl]="showConfigurationControl"
                       [showControls]="showControls"
                       (toggleConfigModeEvent)="toggleConfigMode()"
                       (removeEvent)="remove()"
                       (runEvent)="run()"
                       (stopEvent)="stop()">
    </app-gadget-header>
    <div class="ui centered grid" *ngIf="!inConfig">
        <div class="row">
            <table class=" ui compact table" style="border:none !important">
                <tr>
                    <td>
                        <h4>Host : {{host}} </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> Port : {{port}}</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="ui compact blue button" (click)="run()">Test
                            Connectivity
                        </button>

                        <i class="icon large"
                           [ngClass]="{

                            'green':connectStatus == 'success',
                            'check':connectStatus == 'success',
                            'yellow':connectStatus != 'success',
                            'exclamation triangle':errorEventRaised
                            }" style="float:right"></i>
                    </td>
                </tr>
                <tr [@fade] *ngIf="errorEventRaised">
                    <td [@fade] *ngIf="detailMessageOpen == true">
                        <div class="ui info message full-width">
                            <div>
                                {{connectionResults}}
                            </div>

                        </div>
                    </td>
                </tr>
                <tr [@fade] *ngIf="errorEventRaised">
                    <td [@fade] *ngIf="detailMessageOpen == true">
                        <div>
                            <table class="ui celled table" style="border:none !important">
                                <thead>
                                <tr>
                                    <th>Possible causes</th>
                                    <th>Actions you can take</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor=" let solution of model.solution">
                                    <td>{{solution.cause}}</td>
                                    <td>
                                        <ul *ngFor="let action of solution.action">
                                            <li>{{action.task}}</li>
                                        </ul>

                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div *ngIf="!inConfig" class="ui bottom right attached label" style="background-color: white">
            <i *ngIf="errorEventRaised" class="large chevron icon" (click)="toggleMessageDetail()"
               [ngClass]="{'up':detailMessageOpen == true, 'down': detailMessageOpen == false}"
               style="color:lightgrey">
            </i>
        </div>

    </div>


    <app-dynamic-form *ngIf="inConfig"
                      [propertyPages]="propertyPages"
                      [instanceId]="instanceId"
                      (updatePropertiesEvent)="updateProperties($event)">
    </app-dynamic-form>


    <app-error-handler
            [errorObject]="errorObject"
            [errorExists]="errorExists">
    </app-error-handler>

    <div class="ui bottom attached" *ngIf="actionInitiated" style="width:25%">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>


</div>
