<div (mouseover)="showGadgetControls(true)"
     (mouseleave)="showGadgetControls(false)" class="ui left aligned segment gadget" dnd-draggable [dragEnabled]="true"
     [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']">


    <app-gadget-header
            [title]="title"
            [inRun]="inRun"
            [inConfig]="inConfig"
            [actionInitiated]="actionInitiated"
            [showOperationControls]="showOperationControls"
            [gadgetHasOperationControls]="gadgetHasOperationControls"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            (toggleConfigModeEvent)="toggleConfigMode()"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()">
    </app-gadget-header>


    <div class="ui centered grid" *ngIf="!inConfig">

        <div class="row">
            <mat-input-container class="example-full-width">
                <input matInput [(ngModel)]="testURL" placeholder="Enter Endpoint To Test">
            </mat-input-container>
            <div style="min-height: 200px">
                <ngx-charts-number-card
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        (select)="onSelect($event)">
                </ngx-charts-number-card>
            </div>
        </div>
    </div>
    <app-dynamic-form *ngIf="inConfig"
                      [propertyPages]="propertyPages"
                      [instanceId]="instanceId"
                      (updatePropertiesEvent)="updateProperties($event)">
    </app-dynamic-form>

    <app-error-handler
            [errorObject]="errorObject"
            [errorExists]="errorExists">
    </app-error-handler>

    <app-vis-drill-down-modal #drillDownPopUp></app-vis-drill-down-modal>

    <div class="ui bottom attached" *ngIf="inRun">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

</div>
