<div class="ui long modal" #helpmodal_tag>
    <div class="header">
       {{topic.concept.title}} Help
    </div>

    <div class="ui basic segment">
        <br>
        <br>
        <p>{{topic.concept.shortdesc.content}}</p>

        <p *ngFor="let p of topic.concept.conbody.p">

            {{p}}
            </p>

        <img src="https://www-prd-trops.events.ibm.com/sites/default/files/support/swg/tivtech.nsf/0/1176ca81273d6e048525821a00361689/Content/0.544A.gif" height="700px" width="800px">
        <!--
            <h3 style="font-weight:600 !important">{{topic.heading}}</h3>
            <div *ngFor="let detail of topic.details" class="ui segment">
                <h4 style="font-weight:500 !important">{{detail.category}}</h4>

                <div class="ui divided items">
                    <div class="item" *ngFor="let article of detail.articles">
                        <div class="content">
                            <h5>{{article.headline}}</h5>
                            <div class="description">
                                <p>{{article.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->
        <br><br>
    </div>
    <div class="actions">
        <div class="ui approve button">Close</div>
    </div>
</div>