<div (mouseover)="showGadgetControls(true)"
     (mouseleave)="showGadgetControls(false)"
     class="ui center aligned segment gadget" dnd-draggable
     [dragEnabled]="true" [dragData]="instanceId" [dropZones]="['c0','c1','c2','c3','r0','r1']">

    <app-gadget-header
            [title]="title"
            [inRun]="inRun"
            [inConfig]="inConfig"
            [actionInitiated]="actionInitiated"
            [showOperationControls]="showOperationControls"
            [gadgetHasOperationControls]="gadgetHasOperationControls"
            [showConfigurationControl]="showConfigurationControl"
            [showControls]="showControls"
            (toggleConfigModeEvent)="toggleConfigMode()"
            (removeEvent)="remove()"
            (runEvent)="run()"
            (stopEvent)="stop()">
    </app-gadget-header>

    <div *ngIf="!inConfig">

        Experimenting with Angular Material
        <br> <br>

        MD-ICON
        <br> <br>
        <a md-mini-fab routerLink=".">
            <md-icon>plus</md-icon>
        </a>

        <a md-fab routerLink="."><md-icon>add</md-icon></a>

        <br> <br>

        MD-CARD
        <br> <br>

        <md-card class="example-card" style="width:inherit !important">
            <md-card-header>
                <div md-card-avatar class="example-header-image"></div>
                <md-card-title>Shiba Inu</md-card-title>
                <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="assets/img/examples/shiba2.jpg">
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>

    </div>

    <app-dynamic-form *ngIf="inConfig"
                      [propertyPages]="propertyPages"
                      [instanceId]="instanceId"
                      (updatePropertiesEvent)="updateProperties($event)">
    </app-dynamic-form>

    <app-error-handler
            [errorObject]="errorObject"
            [errorExists]="errorExists">
    </app-error-handler>

</div>


